/.dart_tool/
/.firebase/
/.flutter-plugins
/.flutter-plugins-dependencies
/.idea/
/.packages
/.vscode/
/build/
/coverage/
/functions/node_modules/
/android/.gradle/
/android/local.properties
/android/app/google-services.json
/ios/Flutter/Flutter.podspec
/ios/Runner/GoogleService-Info.plist
pubspec.lock

.next
node_modules
out
dist
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

